<!DOCTYPE html>
<html lang="de">
    <head>
    <title>Verantwortungsvolle Unternehmensführung in Lateinamerika - Documentation </title>
    

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Christian Hauser">
    <!-- <link rel="icon" href="" sizes="32x32" type="image/svg"> -->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i|PT+Sans+Narrow:400,700|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/csrla/css/styles.css">
</head>

<!-- Create counters for paragraph and sidestory numbering, counts all the paragraphs and some other math and logic to make counter work across pages. -->





    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        
    
        
            
        <body class="
            
             page 
            
        "
        >
        
        
    

    <!-- simple page without header  -->
        <div class="navbar">
    <div class="nav-toggle-container"><span class="nav-toggle link"></span></div>
	
	<ul>
	
		<li><a href="/csrla/css/styles.css"></a></li>
	
		<li><a href="/csrla/dox/"></a></li>
	
		<li><a href="/csrla/de/rec/">de</a></li>
	
		<li><a href="/csrla/de/bra/">de</a></li>
	
		<li><a href="/csrla/de/per/">de</a></li>
	
		<li><a href="/csrla/de/mex/">de</a></li>
	
		<li><a href="/csrla/de/arg/">de</a></li>
	
		<li><a href="/csrla/de/">de</a></li>
	
		<li><a href="/csrla/de/cap/">de</a></li>
	
		<li><a href="/csrla/de/fue/">de</a></li>
	
		<li><a href="/csrla/de/col/">de</a></li>
	
		<li><a href="/csrla/de/int/">de</a></li>
	
		<li><a href="/csrla/de/dia/">de</a></li>
	
		<li><a href="/csrla/de/cre/">de</a></li>
	
		<li><a href="/csrla/de/conc/">de</a></li>
	
		<li><a href="/csrla/es/conc/">es</a></li>
	
		<li><a href="/csrla/es/arg/">es</a></li>
	
		<li><a href="/csrla/es/cre/">es</a></li>
	
		<li><a href="/csrla/es/bra/">es</a></li>
	
		<li><a href="/csrla/es/dia/">es</a></li>
	
		<li><a href="/csrla/es/per/">es</a></li>
	
		<li><a href="/csrla/es/mex/">es</a></li>
	
		<li><a href="/csrla/es/cap/">es</a></li>
	
		<li><a href="/csrla/es/col/">es</a></li>
	
		<li><a href="/csrla/es/fue/">es</a></li>
	
		<li><a href="/csrla/es/int/">es</a></li>
	
		<li><a href="/csrla/es/">es</a></li>
	
		<li><a href="/csrla/es/rec/">es</a></li>
	
		<li><a href="/csrla/pt/int/">pt</a></li>
	
		<li><a href="/csrla/pt/">pt</a></li>
	
		<li><a href="/csrla/pt/fue/">pt</a></li>
	
		<li><a href="/csrla/pt/bra/">pt</a></li>
	
		<li><a href="/csrla/pt/mex/">pt</a></li>
	
		<li><a href="/csrla/pt/col/">pt</a></li>
	
		<li><a href="/csrla/pt/conc/">pt</a></li>
	
		<li><a href="/csrla/pt/dia/">pt</a></li>
	
		<li><a href="/csrla/pt/per/">pt</a></li>
	
		<li><a href="/csrla/pt/cre/">pt</a></li>
	
		<li><a href="/csrla/pt/rec/">pt</a></li>
	
		<li><a href="/csrla/pt/cap/">pt</a></li>
	
		<li><a href="/csrla/pt/arg/">pt</a></li>
	
	</ul>
    <div class="right">
        <!-- find previous and next page in order for page navigator -->
      
            

            
        </div>
        <svg version="1.1" id="btt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
        <g>
        	<path d="M17,16.9c-0.1-0.3-0.3-0.5-0.4-0.6c-0.2-0.2-0.4-0.2-0.7-0.2c-0.9,0-1.4,1-1.4,3c0,0.4,0,0.8,0.1,1.2
        		c0,0.4,0.1,0.7,0.2,0.9c0.1,0.3,0.3,0.5,0.4,0.6c0.2,0.2,0.4,0.2,0.6,0.2c0.5,0,0.8-0.2,1-0.7c0.2-0.5,0.3-1.2,0.3-2.3
        		c0-0.4,0-0.8-0.1-1.2C17.2,17.5,17.1,17.2,17,16.9z"/>
        	<path d="M22.7,16.3c-0.1-0.1-0.3-0.2-0.4-0.2c-0.2,0-0.3-0.1-0.5-0.1c-0.2,0-0.5,0-0.6,0.1V19c0,0,0.1,0,0.3,0c0.1,0,0.2,0,0.3,0
        		c0.2,0,0.3,0,0.5-0.1c0.2,0,0.3-0.1,0.4-0.2c0.1-0.1,0.2-0.3,0.3-0.5C23,18,23,17.8,23,17.4c0-0.3,0-0.5-0.1-0.7
        		C22.9,16.6,22.8,16.4,22.7,16.3z"/>
        	<path d="M16,0C7.2,0,0,7.2,0,16s7.2,16,16,16s16-7.2,16-16S24.8,0,16,0z M16,7.2l8.3,4.2l-0.7,1.3L16,8.8l-7.7,3.8l-0.7-1.3L16,7.2
        		z M12.9,16.2h-2v7H9.4v-7h-2v-1.4h5.5V16.2z M18.1,22.3c-0.5,0.7-1.2,1.1-2.2,1.1c-0.5,0-1-0.1-1.4-0.3c-0.4-0.2-0.7-0.5-0.9-0.9
        		c-0.2-0.4-0.4-0.8-0.5-1.4c-0.1-0.5-0.2-1.1-0.2-1.8c0-1.4,0.2-2.5,0.7-3.3c0.5-0.7,1.2-1.1,2.2-1.1c0.5,0,1,0.1,1.3,0.3
        		c0.4,0.2,0.7,0.5,0.9,0.9c0.2,0.4,0.4,0.8,0.5,1.4c0.1,0.5,0.2,1.1,0.2,1.8C18.9,20.4,18.6,21.5,18.1,22.3z M24.4,18.8
        		c-0.1,0.4-0.3,0.7-0.6,0.9s-0.5,0.4-0.9,0.5s-0.7,0.2-1,0.2c0,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.2,0-0.2,0
        		c-0.1,0-0.1,0-0.2,0v2.9h-1.5v-8.3c0.3-0.1,0.6-0.1,0.9-0.1c0.3,0,0.7-0.1,1-0.1c0.4,0,0.7,0,1.1,0.1s0.7,0.2,1,0.4
        		c0.3,0.2,0.5,0.5,0.7,0.8c0.2,0.4,0.3,0.8,0.3,1.4C24.6,18,24.5,18.4,24.4,18.8z"/>
        </g>
        </svg>
</div>

<div class="menu">
    <p>
        <span class="nav-toggle">
            <svg version="1.1" id="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 91.2 91.2" style="enable-background:new 0 0 91.2 91.2;" xml:space="preserve">
                <rect x="-7.9" y="34.6" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -18.8916 45.6084)" width="107" height="22"/>
                <rect x="34.6" y="-7.9" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -18.8916 45.6084)" width="22" height="107"/>
            </svg>
        </span>
    </p>
    <nav>
        <!-- iterate through pages and add links based on order -->
        
        
        
          
        
          
          
                <a href="/csrla/es/" class=" start ">inicio</a><br>
                
        
          
          
                <a href="/csrla/de/" class=" start ">home</a><br>
                
        
          
          
                <a href="/csrla/pt/" class=" start ">Início</a><br>
                
        
          
          
                <a href="/csrla/pt/cap/" class="">Capítulos</a><br>
                
        
          
          
                <a href="/csrla/de/cap/" class="">Kapitel</a><br>
                
        
          
          
                <a href="/csrla/es/cap/" class="">Capítulos</a><br>
                
        
          
          
                <a href="/csrla/de/int/" class=" thin ">Einleitung</a><br>
                
        
          
          
                <a href="/csrla/pt/int/" class=" thin ">Introdução</a><br>
                
        
          
          
                <a href="/csrla/es/int/" class=" thin ">Introducción</a><br>
                
        
          
          
                <a href="/csrla/es/mex/" class=" mexiko  thin ">México</a><br>
                
        
          
          
                <a href="/csrla/de/mex/" class=" mexiko  thin ">Mexiko</a><br>
                
        
          
          
                <a href="/csrla/pt/mex/" class=" mexiko  thin ">México</a><br>
                
        
          
          
                <a href="/csrla/de/per/" class=" peru  thin ">Peru</a><br>
                
        
          
          
                <a href="/csrla/pt/per/" class=" peru  thin ">Peru</a><br>
                
        
          
          
                <a href="/csrla/es/per/" class=" peru  thin ">Perú</a><br>
                
        
          
          
                <a href="/csrla/de/col/" class=" kolumbien  thin ">Kolumbien</a><br>
                
        
          
          
                <a href="/csrla/pt/col/" class=" kolumbien  thin ">Colômbia</a><br>
                
        
          
          
                <a href="/csrla/es/col/" class=" kolumbien  thin ">Colombia</a><br>
                
        
          
          
                <a href="/csrla/pt/bra/" class=" brasilien  thin ">Brasil</a><br>
                
        
          
          
                <a href="/csrla/es/bra/" class=" brasilien  thin ">Brasil</a><br>
                
        
          
          
                <a href="/csrla/de/bra/" class=" brasilien  thin ">Brasilien</a><br>
                
        
          
          
                <a href="/csrla/de/arg/" class=" argentinien  thin ">Argentinien</a><br>
                
        
          
          
                <a href="/csrla/es/arg/" class=" argentinien  thin ">Argentina</a><br>
                
        
          
          
                <a href="/csrla/pt/arg/" class=" argentinien  thin ">Argentina</a><br>
                
        
          
          
                <a href="/csrla/pt/conc/" class=" thin ">Conclusão</a><br>
                
        
          
          
                <a href="/csrla/de/conc/" class=" thin ">Fazit</a><br>
                
        
          
          
                <a href="/csrla/es/conc/" class=" thin ">Conclusión</a><br>
                
        
          
          
                <a href="/csrla/es/rec/" class=" thin ">Recomendaciones</a><br>
                
        
          
          
                <a href="/csrla/pt/rec/" class=" thin ">Recomendações</a><br>
                
        
          
          
                <a href="/csrla/de/rec/" class=" thin ">Empfehlungen</a><br>
                
        
          
          
                <a href="/csrla/pt/dia/" class=" tagebuch  thin ">Diário</a><br>
                
        
          
          
                <a href="/csrla/es/dia/" class=" tagebuch  thin ">Diario</a><br>
                
        
          
          
                <a href="/csrla/de/dia/" class=" tagebuch  thin ">Tagebuch</a><br>
                
        
          
          
                <a href="/csrla/de/fue/" class="">Quellen</a><br>
                
        
          
          
                <a href="/csrla/pt/fue/" class="">Fontes</a><br>
                
        
          
          
                <a href="/csrla/es/fue/" class="">Fuentes</a><br>
                
        
          
        
          
        
          
        
          
        
        
        
    </nav>
</div>


        <main>
            <div class="page-content">
                <section class="box">
                    
                    <div class="content title-box">
                        
                        
                        <h1 class="title">Documentation</h1>
                    </div>
                    
                    <div class="content">
  <h1 id="beim-1-mal-durchfhren">Beim 1. Mal durchführen</h1>

  <h2 id="jekyll-installation">jekyll Installation</h2>
  <p>Installation gemäss <a href="https://jekyllrb.com/docs/installation/">Dokumentationspage</a>, <a href="https://jekyllrb.com/docs/windows/">jekyll auf Windows</a>.
Zusätzlich müssen ausserdem folgende commands ausgeführt werden:</p>

  <div class="language-bash highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nb">sudo </span>gem <span class="nb">install </span>kramdown rouge
<span class="nb">sudo </span>gem <span class="nb">install </span>jekyll-autoprefixer
<span class="nb">sudo </span>gem <span class="nb">install </span>liquefy
</code></pre></div>  </div>

  <h1 id="git-repo-herunterladen">Git Repo herunterladen</h1>
  <p><em>wenn du noch nicht Teil des Repos bist, bitte myriam@halfapx.com eine Mail schreiben und anfragen (oder einen Fork erstellen)</em></p>

  <p>Mit dem Terminal geht das am schnellsten. mit <code class="highlighter-rouge">cd [PFAD]</code> in den Überordner navigieren in den gecloned werden soll und dann clonen mit der URL (Falls kein SSH Key hinterlegt ist <a href="https://help.github.com/articles/connecting-to-github-with-ssh/">Anleitung</a>), alternativ HTTPS URL verwenden.</p>

  <div class="language-bash highlighter-rouge"><div class="highlight"><pre class="highlight"><code>git clone git@github.com:LehreHTW/csr-lateinamerika.git
</code></pre></div>  </div>

  <p>Der Ordner wird heruntergeladen und jekyll kann nun gestartet werden.</p>

  <h1 id="jedes-mal-durchfhren">Jedes Mal durchführen</h1>

  <h2 id="bevor-nderungen-durchgefhrt-werden">Bevor Änderungen durchgeführt werden</h2>
  <p>Um Conflicts zu vermeiden, immer erst pullen und möglichst mit den anderen Teammitgliedern absprechen, dass nicht das gleiche bearbeitet wird. Beim Pull werden alle Änderungen der anderen heruntergeladen.</p>

  <div class="language-bash highlighter-rouge"><div class="highlight"><pre class="highlight"><code>git pull
</code></pre></div>  </div>

  <h2 id="localhost-starten">Localhost starten</h2>
  <p>Danach kann der localhost gestartet werden. Dazu einfach mit dem Terminal in den Ordner csr-lateinamerika navigieren <code class="highlighter-rouge">cd [PFAD]</code> und dann die jekyll commands ausführen.</p>

  <div class="language-bash highlighter-rouge"><div class="highlight"><pre class="highlight"><code>jekyll serve
</code></pre></div>  </div>

  <p>Dann kannst du die Seite unter <a href="http://localhost:4000/">localhost:4000</a> aufrufen.</p>

  <h2 id="nderungen-hochladen">Änderungen hochladen</h2>
  <p>Wenn du mit deinen Änderungen zufrieden bist, kannst du sie committen.</p>

  <div class="language-bash highlighter-rouge"><div class="highlight"><pre class="highlight"><code>git add <span class="nt">-A</span>
git commit <span class="nt">-m</span> <span class="s2">"Deine Commit Message"</span>
git push
</code></pre></div>  </div>
  <p>Die Änderungen auf den Server hochladen geht über FTP, einloggen und dann den Inhalt des <code class="highlighter-rouge">_site</code> Ordners hochladen.</p>

  <p>Vor dem Hochladen sicherstellen, dass im config-file alle Daten angepasst sind.</p>

  <div class="language-yml highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="na">url</span><span class="pi">:</span> <span class="s">http://code.halfapx.com</span>
<span class="na">baseurl</span><span class="pi">:</span> <span class="s">/csr-lateinamerika</span>
</code></pre></div>  </div>

  <p>URL ist die Website, wenn sie im Root Ordner der Website angezeigt werden soll, dann baseurl leer lassen, ansonsten name des Subordners.</p>

  <h1 id="nderungen">Änderungen</h1>
  <h2 id="css">CSS</h2>
  <p>Einen Grossteil der Styling Anapssungen kannst du im <code class="highlighter-rouge">_settings.scss</code> ausführen.
Wenn du ein neues Sass-File erstellst, vergiss nicht, es in <code class="highlighter-rouge">css/styles.scss</code> zu importieren.</p>

  <h2 id="js">JS</h2>
  <p>Javascript Änderungen führst du in <code class="highlighter-rouge">main.js</code> durch.</p>

  <h2 id="templates">Templates</h2>
  <p>Templates befinden sich im <code class="highlighter-rouge">_layouts</code> Ordner, sie greifen auf die Variablen auf den Länderseiten zu.
Um mehr zu erfahren, <a href="https://jekyllrb.com/docs/templates/">jekyll Doku</a> beachten.</p>

  <h2 id="lnderseiten">Länderseiten</h2>
  <p>Für jede Layerseite gibt es eine <a href="https://jekyllrb.com/docs/collections/">Collection</a> in der die einzelnen Kapitel hinterlegt sind.
Falls eine neue Länderseite hinzugefügt wird, muss die neue Seite im <code class="highlighter-rouge">_config.yml</code> file registriert werden.</p>

  <div class="language-yml highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="na">collections</span><span class="pi">:</span>
    <span class="na">argentinien</span><span class="pi">:</span>
        <span class="na">output</span><span class="pi">:</span> <span class="no">false</span>
    <span class="na">brasilien</span><span class="pi">:</span>
        <span class="na">output</span><span class="pi">:</span> <span class="no">false</span>
    <span class="na">kolumbien</span><span class="pi">:</span>
        <span class="na">output</span><span class="pi">:</span> <span class="no">false</span>
    <span class="na">mexiko</span><span class="pi">:</span>
        <span class="na">output</span><span class="pi">:</span> <span class="no">false</span>
    <span class="na">peru</span><span class="pi">:</span>
        <span class="na">output</span><span class="pi">:</span> <span class="no">false</span>
    <span class="na">forschungstagebuch</span><span class="pi">:</span>
        <span class="na">output</span><span class="pi">:</span> <span class="no">false</span>
</code></pre></div>  </div>

  <p>in diesen Ordnern befinden sich die Texte. Länderseiten enthalten <a href="https://jekyllrb.com/docs/frontmatter/">Front Matter</a> und einen Loop im Content.</p>

  <div class="language-yml highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nn">---</span>
<span class="na">layout</span><span class="pi">:</span> <span class="s">country</span> <span class="c1"># Das verwendete Layout ist immer Country</span>
<span class="na">title</span><span class="pi">:</span> <span class="s">Mexiko</span> <span class="c1"># Name des Landes, wird im Menu verwendet</span>
<span class="na">group</span><span class="pi">:</span> <span class="s">navigation-03</span> <span class="c1"># soll die Seie in der Navigation vorkommen benötigt sie diesen group-Wert die Zahl entspricht der Reihenfolge</span>
<span class="na">header-img</span><span class="pi">:</span> <span class="s">BILD_MEXIKO-7.jpg</span> <span class="c1"># Headerbild, welches sich in media/img befindet</span>
<span class="na">bodyclass</span><span class="pi">:</span> <span class="s">mexiko</span> <span class="c1"># klasse die dem body zugeordnet wird, wenn eine Farbe zugeordnet wird, muss dies in sass/toolbox/_colors.scss getan werden</span>
<span class="na">order</span><span class="pi">:</span> <span class="s">3</span> <span class="c1"># reihenfolge für den Navigator in der Navigationsleiste</span>
<span class="na">surface</span><span class="pi">:</span> <span class="s">1'964'375</span> <span class="c1"># Fläche</span>
<span class="na">altitude</span><span class="pi">:</span> <span class="s">2'250</span> <span class="c1"># Höhe</span>
<span class="na">gdp</span><span class="pi">:</span> <span class="s">8'172</span> <span class="c1"># Bruttoinlandprodukt</span>
<span class="na">population</span><span class="pi">:</span> <span class="s">128'000'000</span> <span class="c1"># Bevölkerung</span>
<span class="nn">---</span>
</code></pre></div>  </div>

  <p>Der Loop iteriert durch alle Kapitel im Länderordner, erstellt das Separierbild, bindet Meta-Daten und Inhalte ein.</p>
  <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>{% assign mexiko = site.mexiko | sort: "order" %}
{% for ch in mexiko %}
<span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"box chapter-{{ ch.subject }}"</span> <span class="na">id=</span><span class="s">"{{ ch.subject }}"</span><span class="nt">&gt;</span>
    {% if ch.chapter_image %}
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"image grid"</span> <span class="na">style=</span><span class="s">"background-image: url(../media/img/{{ ch.chapter_image }});"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    {% endif %}
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"content"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"chapter-subject"</span><span class="nt">&gt;</span>{{ ch.subject }}<span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"chapter-title"</span><span class="nt">&gt;</span>{{ ch.title }}<span class="nt">&lt;/h1&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    {{ ch.content }}
<span class="nt">&lt;/section&gt;</span>
{% endfor %}
</code></pre></div>  </div>

  <h2 id="kapitel">Kapitel</h2>
  <p>Die Kapitelseiten enthalten ebenfalls Front Matter.</p>

  <div class="language-yml highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nn">---</span>
<span class="na">country</span><span class="pi">:</span> <span class="s">Mexiko</span> <span class="c1"># zugehöriges Land</span>
<span class="na">subject</span><span class="pi">:</span> <span class="s">Einführung</span> <span class="c1"># Thema</span>
<span class="na">title</span><span class="pi">:</span> <span class="s">Einführung in Land und Leute mit Fokus auf Wirtschaft</span> <span class="c1"># titel</span>
<span class="na">order</span><span class="pi">:</span> <span class="s">1</span> <span class="c1"># Reihenfolge</span>
<span class="na">gallery</span><span class="pi">:</span> <span class="c1"># Gallerie</span>
  <span class="pi">-</span> <span class="na">images</span><span class="pi">:</span>
    <span class="pi">-</span> <span class="na">filename</span><span class="pi">:</span> <span class="s">BILD_MEXIKO-1.jpg</span>
      <span class="na">alttext</span><span class="pi">:</span> <span class="s">MX 1</span>
    <span class="pi">-</span> <span class="na">filename</span><span class="pi">:</span> <span class="s">BILD_MEXIKO-2.jpg</span>
      <span class="na">alttext</span><span class="pi">:</span> <span class="s">MX 1</span>
    <span class="pi">-</span> <span class="na">filename</span><span class="pi">:</span> <span class="s">BILD_MEXIKO-4.jpg</span>
      <span class="na">alttext</span><span class="pi">:</span> <span class="s">MX 1</span>
    <span class="pi">-</span> <span class="na">filename</span><span class="pi">:</span> <span class="s">BILD_MEXIKO-8.jpg</span>
      <span class="na">alttext</span><span class="pi">:</span> <span class="s">MX 1</span>
    <span class="pi">-</span> <span class="na">filename</span><span class="pi">:</span> <span class="s">BILD_MEXIKO-11.jpg</span>
      <span class="na">alttext</span><span class="pi">:</span> <span class="s">MX 1</span>
    <span class="pi">-</span> <span class="na">filename</span><span class="pi">:</span> <span class="s">BILD_MEXIKO-12.jpg</span>
      <span class="na">alttext</span><span class="pi">:</span> <span class="s">MX 1</span>
<span class="nn">---</span>
</code></pre></div>  </div>

  <p>Das erste Kapitel, die Karte sowie die Fazitaufsager enthalten kein Kapitelbild, die anderen Kapitel enthalten weiter den Front matter</p>

  <div class="language-yml highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="na">chapter_image</span><span class="pi">:</span> <span class="s">BILD_MEXIKO-10.jpg</span> <span class="c1"># Kapitelbild, ebenfalls in media/img/ ordner</span>
</code></pre></div>  </div>

  <p>Wenn eine Gallerie verwendet wird, muss diese im Inhalt eingebunden werden.</p>

  <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media-wrapper"</span><span class="nt">&gt;</span>
{% include gallery.html %}
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>  </div>

  <h3 id="inhalte">Inhalte</h3>
  <p>Inhaltsblöcke denen keine Sidestories zugehören, werden in einen einfachen Div-Container eingebunden. markdown=”1” stellt sicher, dass markdown Code auch innerhalb davon umgewandelt wird. <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Cheatsheet</a></p>

  <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"content"</span> <span class="na">markdown=</span><span class="s">"1"</span><span class="nt">&gt;</span>
    MARKDOWN CODE HIER DRIN
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>  </div>

  <p>Innerhalb der Content-Container werden keine anderen Inhalte als Text eingebunden.</p>

  <h3 id="sidestories">Sidestories</h3>
  <p>Enthält ein Abschnitt eine Sidestory, wird der Inhalt von einem Div-Container umschlossen. Je nach dem auf welcher Seite die Story eingebunden werden soll, passt sich die Klasse an.
Der Sidestory Toggle wird entsprechend vor oder nach dem Content eingebunden und das Overlay mit dem Sidestory Inhalt nach dem Toggle.</p>

  <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c">&lt;!-- Text mit Sidestory links und rechts  --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"has-sidestories grid"</span> <span class="na">markdown=</span><span class="s">"1"</span><span class="nt">&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"sidestory sidestory-left"</span> <span class="na">markdown=</span><span class="s">"1"</span><span class="nt">&gt;</span>
 ![bla](/csrla/media/img/jo-jo-183491.jpg)
### Sidestory Title
<span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"sidestory-toggle"</span><span class="nt">&gt;&lt;span&gt;</span>+<span class="nt">&lt;/span&gt;&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"overlay sidestory-left-content content"</span><span class="nt">&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"ss-content"</span><span class="nt">&gt;</span>
<span class="nt">&lt;p&gt;</span>Sidestory Content<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"content"</span> <span class="na">markdown=</span><span class="s">"1"</span><span class="nt">&gt;</span>
## content
Inhalt Hier
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"sidestory sidestory-right"</span> <span class="na">markdown=</span><span class="s">"1"</span><span class="nt">&gt;</span>
### sidestory-right
<span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"sidestory-toggle"</span><span class="nt">&gt;&lt;span&gt;</span>+<span class="nt">&lt;/span&gt;&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"overlay sidestory-right-content content"</span><span class="nt">&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"ss-content"</span><span class="nt">&gt;</span>
<span class="nt">&lt;p&gt;</span>Sidestory Content<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;/div&gt;</span>
</code></pre></div>  </div>

  <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c">&lt;!-- Text mit Sidestory links --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"has-sidestories-left grid"</span> <span class="na">markdown=</span><span class="s">"1"</span><span class="nt">&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"sidestory sidestory-left"</span> <span class="na">markdown=</span><span class="s">"1"</span><span class="nt">&gt;</span>
 ![bla](/csrla/media/img/jo-jo-183491.jpg)
### Sidestory Title
<span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"sidestory-toggle"</span><span class="nt">&gt;&lt;span&gt;</span>+<span class="nt">&lt;/span&gt;&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"overlay sidestory-left-content content"</span><span class="nt">&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"ss-content"</span><span class="nt">&gt;</span>
<span class="nt">&lt;p&gt;</span>Sidestory Content<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"content"</span> <span class="na">markdown=</span><span class="s">"1"</span><span class="nt">&gt;</span>
## content
Inhalt Hier
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;/div&gt;</span>
</code></pre></div>  </div>

  <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c">&lt;!-- Text mit Sidestory rechts --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"has-sidestories-right grid"</span> <span class="na">markdown=</span><span class="s">"1"</span><span class="nt">&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"content"</span> <span class="na">markdown=</span><span class="s">"1"</span><span class="nt">&gt;</span>
## content
Inhalt Hier
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"sidestory sidestory-right"</span> <span class="na">markdown=</span><span class="s">"1"</span><span class="nt">&gt;</span>
### sidestory-right
<span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"sidestory-toggle"</span><span class="nt">&gt;&lt;span&gt;</span>+<span class="nt">&lt;/span&gt;&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"overlay sidestory-right-content content"</span><span class="nt">&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"ss-content"</span><span class="nt">&gt;</span>
<span class="nt">&lt;p&gt;</span>Sidestory Content<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;/div&gt;</span>
</code></pre></div>  </div>

  <h3 id="videos-karten-audio">Videos, Karten, Audio</h3>
  <p>Diese Inhalte werden ausserhalb der <code class="highlighter-rouge">content</code> Blöcke verwendet.</p>

  <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c">&lt;!-- Karte --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"map-wrap gray"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"map"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;iframe</span> <span class="na">src=</span><span class="s">"https://www.google.com/maps/d/embed?mid=1tWfodkTfLYDZMbf0HUhtL0t_3YB1WPIV"</span><span class="nt">&gt;&lt;/iframe&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>  </div>

  <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c">&lt;!-- Video --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media-wrapper"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"video"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;iframe</span> <span class="na">src=</span><span class="s">"https://www.youtube.com/embed/gFeCBQW8sDY?ecver=1"</span>  <span class="na">allowfullscreen</span><span class="nt">&gt;&lt;/iframe&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>  </div>

  <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c">&lt;!-- Audio --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media-wrapper"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;audio</span> <span class="na">controls</span><span class="nt">&gt;</span>
        <span class="nt">&lt;source</span> <span class="na">src=</span><span class="s">"../media/audio/Strassengeräusche_Tankstelle_MexicoStadt_20170719.mp3"</span> <span class="na">type=</span><span class="s">"audio/mpeg"</span><span class="nt">&gt;</span>
        Your browser does not support the audio element.
    <span class="nt">&lt;/audio&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>  </div>

  <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c">&lt;!-- Bild in Bildschirmbreite --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"image grid"</span> <span class="na">style=</span><span class="s">"background-image: url(../media/img/martin-reisch-265219.jpg);"</span><span class="nt">&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>  </div>

  <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c">&lt;!-- Bild --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media-wrapper"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"../media/img/martin-reisch-265219.jpg"</span><span class="nt">&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>  </div>
</div>

                </section>
            </div>
       </main>

        
<footer>
	<p><img src="/csrla/media/img/footer_htwchur.png" height="50" /> <img src="/csrla/media/img/footer_kas.png" height="50" /></p>
    <p>
        <span>&copy; Christian Hauser </span>
        <span>&middot; 2018 </span>
        &middot;
		
        <a href="/csrla/de/cre/"></a>
		
        <a href="/csrla/pt/cre/"></a>
		
        <a href="/csrla/es/cre/"></a>
		
    </p>
</footer>

<script src="/csrla/js/jquery-3.2.1.min.js"></script>
<script src="/csrla/js/mixitup.min.js"></script>
<script src="/csrla/js/mixitup-multifilter.min.js"></script>
<script src="/csrla/js/main.js"></script>
<script src="/csrla/js/lazyload.min.js"></script>

    </body>
</html>
