---
exclude: true
---
@import "partials/reset";

@import "toolbox/colors";
@import "toolbox/functions";
@import "toolbox/mixins";

@import "settings";
@import "partials/colorsetting";

@import "partials/general";
@import "partials/counters";
@import "partials/navigation";
@import "partials/grid";
@import "partials/overlay";
@import "partials/slider";
@import "partials/country-page";
@import "partials/chapter";
@import "partials/vector";
@import "partials/start";
@import "partials/syntax";
