---
layout: page
title: Kapitel
group: navigation-10
displaytitle: false
order: 2
lang: de
ref: kapitel
---
{% assign mexiko = site.mexiko | where: 'lang', page.lang| sort: "order" %}
{% assign kolumbien = site.kolumbien | where: 'lang', page.lang| sort: "order" %}
{% assign peru = site.peru | where: 'lang', page.lang| sort: "order" %}
{% assign brasilien = site.brasilien | where: 'lang', page.lang| sort: "order" %}
{% assign argentinien = site.argentinien | where: 'lang', page.lang| sort: "order" %}



<div class="filter">

<form data-filter-group>
    <h6>Themen</h6>
    <div>
        <input type="checkbox" name="subject" value=".menschenrechte" id="filter-menschenrechte"/>
        <label for="filter-menschenrechte">
            Menschenrechte
        </label>

        <input type="checkbox" name="subject" value=".korruption" id="filter-korruption"/>
        <label for="filter-korruption">
            Korruption
        </label>

        <input type="checkbox" name="subject" value=".umwelt" id="filter-umwelt"/>
        <label for="filter-umwelt">
            Umwelt
        </label>

        <button type="reset">Reset</button>
    </div>
</form>

<form data-filter-group>
    <h6>Länder</h6>
    <div>
        <input type="checkbox" name="subject" value=".mexiko" id="filter-mexiko"/>
        <label for="filter-mexiko">
            Mexiko
        </label>

        <input type="checkbox" name="subject" value=".peru" id="filter-peru"/>
        <label for="filter-peru">
            Peru
        </label>

        <input type="checkbox" name="subject" value=".kolumbien" id="filter-kolumbien"/>
        <label for="filter-kolumbien">
            Kolumbien
        </label>

        <input type="checkbox" name="subject" value=".brasilien" id="filter-brasilien"/>
        <label for="filter-brasilien">
            Brasilien
        </label>

        <input type="checkbox" name="subject" value=".argentinien" id="filter-argentinien"/>
        <label for="filter-argentinien">
            Argentinien
        </label>

        <button type="reset">Reset</button>
    </div>
</form>


</div>

<div class="mixer">
    {% for c in mexiko %}
        {% if c.chapter_image %}
        <div class="chapter mix {{c.country | downcase }} {{ c.subject | downcase }}">
            <img src="{{ site.baseurl }}{{c.chapter_image | prepend: '/media/img/chapter/	' }}" alt="{{c.chapter_image}}">
            <div class="meta">
                <span class="country">{{c.countryname }}</span>
                <span class="subject">{{ c.subject }}</span>
            </div>
            <h6 class="title">{{c.title}}</h6>
            <p class="excerpt">{{c.content | strip_html | truncate: 140, '[...]'}} <br><a href="{{ site.baseurl }}/{{ c.country | downcase }}#{{ c.subject }}" class="more">Weiterlesen &raquo;</a></p>
        </div>
        {% endif %}
    {% endfor %}
    {% for c in kolumbien %}
        {% if c.chapter_image %}
        <div class="chapter mix {{c.country | downcase }} {{ c.subject | downcase }}">
            <img src="{{ site.baseurl }}{{c.chapter_image | prepend: '/media/img/chapter/' }}" alt="{{c.chapter_image}}">
            <div class="meta">
                <span class="country">{{c.countryname }}</span>
                <span class="subject">{{ c.subject }}</span>
            </div>
            <h6 class="title">{{c.title}}</h6>
            <p class="excerpt">{{c.content | strip_html | truncate: 140, '[...]'}} <br><a href="{{ site.baseurl }}/{{ c.country | downcase }}#{{ c.subject }}" class="more">Weiterlesen &raquo;</a></p>
        </div>
        {% endif %}
    {% endfor %}
    {% for c in peru %}
        {% if c.chapter_image %}
        <div class="chapter mix {{ c.country | downcase }} {{ c.subject | downcase }}">
            <img src="{{ site.baseurl }}{{c.chapter_image | prepend: '/media/img/chapter/' }}" alt="{{c.chapter_image}}">
            <div class="meta">
                <span class="country">{{c.countryname }}</span>
                <span class="subject">{{ c.subject }}</span>
            </div>
            <h6 class="title">{{c.title}}</h6>
            <p class="excerpt">{{c.content | strip_html | truncate: 140, '[...]'}} <br><a href="{{ site.baseurl }}/{{ c.country | downcase }}#{{ c.subject }}" class="more">Weiterlesen &raquo;</a></p>
        </div>
        {% endif %}
    {% endfor %}
    {% for c in brasilien %}
        {% if c.chapter_image %}
        <div class="chapter mix {{ c.country | downcase }} {{ c.subject | downcase }}">
            <img src="{{ site.baseurl }}{{c.chapter_image | prepend: '/media/img/chapter/' }}" alt="{{c.chapter_image}}">
            <div class="meta">
                <span class="country">{{c.countryname }}</span>
                <span class="subject">{{ c.subject }}</span>
            </div>
            <h6 class="title">{{c.title}}</h6>
            <p class="excerpt">{{c.content | strip_html | truncate: 140, '[...]'}} <br><a href="{{ site.baseurl }}/{{ c.country | downcase }}#{{ c.subject }}" class="more">Weiterlesen &raquo;</a></p>
        </div>
        {% endif %}
    {% endfor %}
    {% for c in argentinien %}
        {% if c.chapter_image %}
        <div class="chapter mix {{c.country | downcase }} {{ c.subject | downcase }}">
            <img src="{{ site.baseurl }}{{c.chapter_image | prepend: '/media/img/chapter/' }}" alt="{{c.chapter_image}}">
            <div class="meta">
                <span class="country">{{c.countryname }}</span>
                <span class="subject">{{ c.subject }}</span>
            </div>
            <h6 class="title">{{c.title}}</h6>
            <p class="excerpt">{{c.content | strip_html | truncate: 140, '[...]'}} <br><a href="{{ site.baseurl }}/{{ c.country | downcase }}#{{ c.subject }}" class="more">Weiterlesen &raquo;</a></p>
        </div>
        {% endif %}
    {% endfor %}
</div>
