---

layout: page
title: Kapitel
subtitle: CSR in Lateinamerika
group: navigation-09
displaytitle: false
order: 9
---
{% assign mexiko = site.mexiko | sort: "order" %}
{% assign kolumbien = site.kolumbien | sort: "order" %}
{% assign peru = site.peru | sort: "order" %}
{% assign brasilien = site.brasilien | sort: "order" %}
{% assign argentinien = site.argentinien | sort: "order" %}

<div class="filter">
    <div class="themen">
        <h4>Themen</h4>
        <span class="filter-btn" data-filter="all">Alle</span>
        <span class="filter-btn" data-filter=".menschenrechte">Menschenrechte</span>
        <span class="filter-btn" data-filter=".korruption">Korruption</span>
        <span class="filter-btn" data-filter=".umwelt">Umwelt</span>
    </div>
    <div class="laender">
        <h4>Länder</h4>
        <span class="filter-btn" data-filter="all">Alle</span>
        <span class="filter-btn" data-filter=".mexiko">mexiko</span>
        <span class="filter-btn" data-filter=".peru">peru</span>
        <span class="filter-btn" data-filter=".kolumbien">kolumbien</span>
        <span class="filter-btn" data-filter=".brasilien">brasilien</span>
        <span class="filter-btn" data-filter=".argentinien">argentinien</span>
    </div>
</div>

<div class="mixer">
    {% for c in mexiko %}
        {% if c.chapter_image %}
        <div class="chapter mix {{c.country }} {{ c.subject }}">
            <img src="{{ site.baseurl }}/{{c.chapter_image | prepend: '/media/img/' }}" alt="{{c.chapter_image}}">
            <div class="meta">
                <span class="country">{{c.country}}</span>
                <span class="subject">{{ c.subject }}</span>
            </div>
            <h6 class="title">{{c.title}}</h6>
            <p class="excerpt">{{c.content | strip_html | truncate: 140, '[...]'}} <br><a href="{{ site.baseurl }}/{{ c.country }}#{{ c.subject }}" class="more">Weiterlesen &raquo;</a></p>
        </div>
        {% endif %}
    {% endfor %}
    {% for c in kolumbien %}
        {% if c.chapter_image %}
        <div class="chapter mix {{c.country }} {{ c.subject }}">
            <img src="{{ site.baseurl }}/{{c.chapter_image | prepend: '/media/img/' }}" alt="{{c.chapter_image}}">
            <div class="meta">
                <span class="country">{{c.country}}</span>
                <span class="subject">{{ c.subject }}</span>
            </div>
            <h6 class="title">{{c.title}}</h6>
            <p class="excerpt">{{c.content | strip_html | truncate: 140, '[...]'}} <br><a href="{{ site.baseurl }}/{{ c.country }}#{{ c.subject }}" class="more">Weiterlesen &raquo;</a></p>
        </div>
        {% endif %}
    {% endfor %}
    {% for c in peru %}
        {% if c.chapter_image %}
        <div class="chapter mix {{c.country }} {{ c.subject }}">
            <img src="{{ site.baseurl }}/{{c.chapter_image | prepend: '/media/img/' }}" alt="{{c.chapter_image}}">
            <div class="meta">
                <span class="country">{{c.country}}</span>
                <span class="subject">{{ c.subject }}</span>
            </div>
            <h6 class="title">{{c.title}}</h6>
            <p class="excerpt">{{c.content | strip_html | truncate: 140, '[...]'}} <br><a href="{{ site.baseurl }}/{{ c.country }}#{{ c.subject }}" class="more">Weiterlesen &raquo;</a></p>
        </div>
        {% endif %}
    {% endfor %}
    {% for c in brasilien %}
        {% if c.chapter_image %}
        <div class="chapter mix {{c.country }} {{ c.subject }}">
            <img src="{{ site.baseurl }}/{{c.chapter_image | prepend: '/media/img/' }}" alt="{{c.chapter_image}}">
            <div class="meta">
                <span class="country">{{c.country}}</span>
                <span class="subject">{{ c.subject }}</span>
            </div>
            <h6 class="title">{{c.title}}</h6>
            <p class="excerpt">{{c.content | strip_html | truncate: 140, '[...]'}} <br><a href="{{ site.baseurl }}/{{ c.country }}#{{ c.subject }}" class="more">Weiterlesen &raquo;</a></p>
        </div>
        {% endif %}
    {% endfor %}
    {% for c in argentinien %}
        {% if c.chapter_image %}
        <div class="chapter mix {{c.country }} {{ c.subject }}">
            <img src="{{ site.baseurl }}/{{c.chapter_image | prepend: '/media/img/' }}" alt="{{c.chapter_image}}">
            <div class="meta">
                <span class="country">{{c.country}}</span>
                <span class="subject">{{ c.subject }}</span>
            </div>
            <h6 class="title">{{c.title}}</h6>
            <p class="excerpt">{{c.content | strip_html | truncate: 140, '[...]'}} <br><a href="{{ site.baseurl }}/{{ c.country }}#{{ c.subject }}" class="more">Weiterlesen &raquo;</a></p>
        </div>
        {% endif %}
    {% endfor %}
</div>
