---
layout: country
title: Mexiko
group: navigation-03
header-img: BILD_MEXIKO-7.jpg
bodyclass: mexiko
order: 3
surface: 1'964'375
altitude: 2'250
gdp: 8'201
population: 127'540'423
---
{% assign mexiko = site.mexiko | sort: "order" %}
{% for ch in mexiko %}
<section class="box chapter-{{ ch.subject }}" id="{{ ch.subject }}">
    {% if ch.chapter_image %}
        <div class="image grid" style="background-image: url(../media/img/{{ ch.chapter_image }});">
        </div>
    {% endif %}
    <div class="content">
        <span class="chapter-subject">{{ ch.subject }}</span>
        <h1 class="chapter-title">{{ ch.title }}</h1>
    </div>
    {{ ch.content }}
</section>
{% endfor %}
