{% assign impressum = site.pages | where: 'lang', page.lang | where: 'ref', 'impressum' %}
<footer>
	<p><img src="/csrla/media/img/footer_htwchur.png" height="50" /> <img src="/csrla/media/img/footer_kas.png" height="50" /></p>
    <p>
        <span>&copy; Christian Hauser </span>
        <span>&middot; 2018 </span>
        &middot;
		{% for imp in impressum %}
        <a href="{{ imp.url  | prepend: site.baseurl }}">{{ site.t[page.lang].impressum }}</a>
		{% endfor %}
    </p>
</footer>

<script src="{{"/js/jquery-3.2.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{"/js/mixitup.min.js" | prepend: site.baseurl }}"></script>
<script src="{{"/js/mixitup-multifilter.min.js" | prepend: site.baseurl }}"></script>
<script src="{{"/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{"/js/lazyload.min.js" | prepend: site.baseurl }}"></script>
