<div class="slider-wrap">
    <div class="slider">
        {% for gallery in page.gallery %}
            {% for image in gallery.images %}
                <div style="background-image: url({{ image.filename | prepend: '/media/img/' | prepend: site.baseurl }})"><img src="{{ image.filename | prepend: '/media/img/' | prepend: site.baseurl }}" alt="{{ image.alttext }}"></div>
            {% endfor %}
        {% endfor %}
    </div>
    <span class="navigator toggle-next">next</span>
    <span class="navigator toggle-prev">prev</span>
</div>
