<head>
    <title>{{ site.name }}{% if page.title %} - {{ page.title }} {% endif%}</title>
    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.author }}">
    <link rel="icon" href="{{ site.favicon }}" sizes="32x32" type="image/svg">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/styles.css">
</head>
