<head>
    <title>{{ site.name }}{% if page.title %} - {{ page.title }} {% endif%}</title>
    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
    {% endif %}

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.author }}">
    <link rel="icon" href="{{ site.favicon }}" sizes="32x32" type="image/svg">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>


{% assign all_pages = site.pages | sort: 'order' %}
{% assign previous_paragraphs = 0 %}
{% assign previous_chapters = 0 %}

    {% for single_page in all_pages %}
        {% if single_page.exclude != true %}
            {% if single_page.url == page.url %}
            <body class="
                {% if page.layout == 'country' %} country {% endif %}
                {% if page.layout == 'page' %} page {% endif %}
                {% if page.bodyclass %} {{ page.bodyclass }} {% endif %}
            "
            style="counter-reset: paragraph {{ previous_paragraphs }} page-title {{ single_page.order | minus: 1 }} chapter-title {{ previous_chapters }}"
            >
            {% endif %}

                {% assign page_content = single_page.content | liquefy %}
                {% assign paragraph_total = page_content | split: '<p>' | size | minus: 1 %}
                {% assign chapter_total = page_content | split: '<h1 class="chapter-title">' | size | minus: 1 %}

                {% assign sidestory_helper = page_content | split: '</div>' %}
                {% assign sidestory_content = '' %}
                    {% for side in sidestory_helper %}
                        {% if side contains 'sidestory-left' or side contains 'sidestory-right' or side contains 'sidestory-right-content' or side contains 'sidestory-left-content' %}
                            {% assign sidestory_content = sidestory_content | append: side %}
                        {% endif %}
                    {% endfor %}
                    {% assign sidestory_count = sidestory_content | split: '<p>' | size | minus: 1 %}
                    {% if sidestory_count != -1 %}
                        {% assign content_total = paragraph_total | minus: sidestory_count %}
                    {% else %}
                        {% assign content_total = paragraph_total %}
                    {% endif %}

                    {% assign previous_paragraphs = previous_paragraphs | plus: content_total %}
                    {% assign previous_chapters = previous_chapters | plus: chapter_total %}
        {% else %}
            {% if single_page.url == page.url %}
        <body class="
            {% if page.layout == 'country' %} country {% endif %}
            {% if page.layout == 'page' %} page {% endif %}
            {% if page.bodyclass %} {{ page.bodyclass }} {% endif %}
        "
        >
        {% endif %}
        {% endif %}
    {% endfor %}
