$whiteish: #FDFDFD;
$blackish: #211F1F;

$darkgray: #484444;
$mediumgray: #626567;
$lightgray: #E3E4E4;

// classs for all countries
$world: #C9BBB7;
$world: $darkgray;
$mexiko: #FB8662;
$peru: #DC7F76;
$kolumbien: #F1D728;
$brasilien: #95D8A1;
$argentinien: #6A9FD6;

// create array, bodyclass: color
$countries: (world: $world, mexiko: $mexiko, peru: $peru, kolumbien: $kolumbien, brasilien: $brasilien, argentinien: $argentinien);
