// Styling the Chapter Page
.filter{
    @include flexbox(row, wrap, center, center);
    padding: 15px 1.5rem;
    width: 80%;
    box-sizing: border-box;

    form{
        width: 100%;
        margin: 5px 0;
        @include flexbox(row, wrap, center, center);
        text-align: center;
        h6{
            // width: 150px;
            padding-right: 30px;
            margin: 5px 0;
            line-height: 1;
        }
    }

    button,
    label{
        position: relative;
        padding: 2px 15px;
        margin: 5px;
        border: 1px solid $text-color;
        font-family: $headings-font;
        text-transform: uppercase;
        line-height: 1;
        font-size: 1em;
        display: inline-block;
        cursor: pointer;
    }
    button{
        background: $blackish;
        color: black-or-white($blackish);
    }
    label{
        &:before{
            content: '+';
            position: relative;
            display: inline-block;
            width: 10px;
            transition: .3s all ease;
            transform: scale(1.2);
        }
    }
    input[type=checkbox]{
        position: absolute;
        left: -999999px;
        opacity: 0;

        &:checked + label {
            background: $lightgray;
            color: black-or-white($lightgray);

            &:before{
                transform: scale(1.2) rotate(45deg);
            }
        }
    }
}

.mixer{
    @include flexbox(row, wrap, flex-start, stretch);
    width: 80%;
    margin: 0 auto;
    > div{
        width: (100%/3);
        padding: 1.5rem;
        box-sizing: border-box;

        @media screen and (max-width: $grid-break-1){
            width: 50%;
            padding: 1rem;
        }

        @media screen and (max-width: $font-break){
            width: 100%;
            padding: 1rem 0;
        }
    }

    .meta{
        font-size: .8em;
        color: $mediumgray;
        font-family: $headings-font;
        padding: 0;
        line-height: 1;
        margin-top: 10px;
    }

    h6{
        margin-top: 0;
        line-height: 1;
        margin-bottom: .4rem;
    }

    .excerpt{
        font-size: .85em;
        line-height: 1.4;
    }

    .more{
        font-family: $headings-font;
        font-weight: bold;
    }
}
