// this page sets default colors and colors based on the country information
footer a{
    &, &:hover{
        background: transparent !important;
    }
}

.mixitup-control-active,
a, a.active{
    font-family: $headings-font;
    // color: $text-color;
    border-bottom: 2px solid $lightgray;
    transition: .3s all ease;
    &:hover{
        border-bottom: 2px solid currentColor;
    }
}
.nav-toggle,
div[data-toggler="true"],
.navbar a {
    font-family: $headings-font;
    display: inline-block !important;
    text-transform: uppercase;
    color: $lightgray;
    border-bottom: 0px solid transparent;

    h1, span{
        background: black-or-white($lightgray) !important;
    }

    &:hover{
        color: white;
        border-bottom: 0px solid transparent;
        h1, span{
            background: black;
        }
    }
}

#btt, #bars, #close{
    path,
    rect{
        fill: $mediumgray;
    }
}

.country-header{
    h1, h2, h3, h4, h5, h6{
        background: $lightgray;
        color: black-or-white($lightgray);
        display: inline-block;
    }
}

.icon-wrap svg{
    fill: $lightgray;
}


// iterating through all countries in the country list and applying the color to it
@each $l, $c in $countries {
    $i: index($countries, $c);
    [data-filter=".#{$l}"]{
        &.mixitup-control-active,
        &:hover{
            color: $c;
        }
    }

    .country-block{
        .#{$l}{
            h2{
                display: inline-block;
                background: $c;
                color: black-or-white($c);
            }
        }
    }
    .fill.#{$l}{
        background: $c !important;
        display: block !important;
    }
    .#{$l} {
        .country-header{
            h1, h2, h3, h4, h5, h6{
                background: $c;
                color: black-or-white($c);
                display: inline-block;
            }
        }
        .meta-info{
            background: rgba(black-or-white($c), .3)
        }
        .icon-wrap svg{
            fill: $c;
        }

        #btt, #bars, #close {
            path,
            rect,
            line{
                fill: $c !important;
            }
        }

        .mixitup-control-active,
        a, a.active{
            border-bottom: 2px solid $c;
        }

        .nav-toggle, .navbar a{
            font-family: $headings-font;
            display: inline-block !important;
            color: $c;
            text-transform: uppercase;
            border-bottom: 0px solid transparent;
            background: black-or-white($c);
            // text-stroke: 1px darken($c, 30%);
            // -webkit-text-stroke: 1px darken($c, 30%);


            &:hover{
                color: white;
                background: black;
            }
        }

        ::selection,
        .sidestory-toggle span{
            background: $c;
            color: black-or-white($c);

            &:hover{
                opacity: .8;
            }
        }

        // .toggle-next{
        //     border-top: 3px solid $c;
        //     border-right: 3px solid $c;
        // }
        //
        // .toggle-prev{
        //     border-bottom: 3px solid $c;
        //     border-left: 3px solid $c;
        // }

        .excerpt a{
            color: $mediumgray;

            &:hover{
                color: $c;
            }
        }

    }
    .menu .#{$l}{
        position: relative;
        margin-left: 20px;
        &:before{
            content: '';
            width: 10px;
            height: 10px;
            background: $c;
            position: absolute;
            top: 50%;
            right: calc(100% + 10px);
            transform: translateY(-50%);
        }
    }
    .menu .#{$l}:hover{
        color: $c;
    }
}
