// making sure the content is placed right and placement of sidestories works.
.content{
    width: 50%;
    // max-width: 800px;
    box-sizing: border-box;

    > div, > img, > p, > h1, > h2, > h3, > h4, > h5, > h6, > span{
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
    }
    @media screen and (max-width: $sidestory-break){
      width: 80%;
    }
}

.box{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    @include flexbox(column, wrap, center, center);
}

.grid {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    @include flexbox(row, wrap, center, flex-start);


    &.has-sidestories-left{
        justify-content: flex-start;
    }

    &.has-sidestories-right{
        justify-content: flex-end;
    }

    .content{
        width: 50%;
        box-sizing: border-box;
        @media screen and (max-width: $sidestory-break){
          width: 80%;
        }
    }

    .sidestory{
        width: 25%;
        text-align: center;
        padding: 0 30px;
        box-sizing: border-box;
        max-width: 800px;

        @media screen and (max-width: $sidestory-break){
          width: 80%;
          margin: 1rem auto;
          padding: .5rem 15px;
          border-top: 1px solid $lightgray;
          border-bottom: 1px solid $lightgray;
        }
    }
}
