.content{
    width: 50%;
    max-width: 800px;
    padding: 0 15px;
    box-sizing: border-box;

    @media screen and (max-width: $sidestory-break){
      width: 80%;
    }
}

.box{
    width: 100%;
    max-width: 1920px;
    @include flexbox(column, wrap, center, center);
}

.grid {
    width: 100%;
    max-width: 1920px;
    @include gridCreator(auto, 1fr 2fr 1fr, (sidestory-left, sidestory-right, content), "sidestory-left content sidestory-right");
    align-items: center;

    @media screen and (max-width: $sidestory-break){
        @include gridCreator(auto auto auto, auto, (sidestory-left, sidestory-right, content), "sidestory-left", "content", "sidestory-right");
    }

    .content{
        justify-self: center;
        width: 100%;

        @media screen and (max-width: $sidestory-break){
          width: 80%;
        }
    }

    .sidestory{
        text-align: center;
        padding: 0 15px;
        box-sizing: border-box;
        max-width: 800px;

        @media screen and (max-width: $sidestory-break){
          width: 80%;
          justify-self: center;
          margin: 1rem auto;
          padding: .5rem 15px;
          border-top: 1px solid $lightgray;
          border-bottom: 1px solid $lightgray;
        }
    }
}
