// navabr at the top
.navbar{
    padding: 7px 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    box-sizing: border-box;
    @include flexbox(row, wrap, space-between, center);
    background: black;
    font-weight: bold;
    transition: .3s all ease;
    color: $whiteish;

    .overlay-active & {
        transform: translateY(-100%);
    }

    @media screen and (max-width: $font-navbar-break){
        font-size: .8em !important;

    }

    svg{
        position: absolute;
        top: 80px;
        height: 50px;
        right: 15px;
    }
    .right{
        width: auto;
    }
    .nav-toggle{
        font-size: 1em;
        cursor: pointer;
        display: inline-block;
        opacity: 1;
        transition: .3s all ease;

        &:hover{
            opacity: .8;
        }

        &.active{
            opacity: 0;
        }
    }
}

// menu
.menu{
    background: $blackish;
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    z-index: 99999;
    color: white;
    font-family: $headings-font;
    padding: 1rem 1.5rem;
    font-size: 1.2em;
    transform: translateX(-100%);
    box-sizing: border-box;
    transition: .3s all ease;
    overflow: auto;

    .nav-toggle{
        cursor: pointer;
    }
    &.active{
        transform: translateX(0);
    }
    p{
            position: absolute;
            top: 15px;
            right: 15px;

    }
    a{
        color: white;
        font-family: $headings-font;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 0px solid transparent;

        // margin: 10px 0;

        &:hover{
            color: $lightgray;
        }
        // display: block;

        &.thin{
            // font-weight: normal;
        }
    }
}
