// invisible container to click "outside" of element and toggle the close functions
.close-overlay{
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

// styling sidestory overlays
.overlay{
    background: $darkgray;
    text-align: justify;
    box-sizing: border-box;
    hyphens: auto;
    padding: 10px;
    color: $whiteish;
    font-size: .8em;
    line-height: 1.25;
    z-index: 99;
    height: auto;
    opacity: 1;
    transition: .5s all ease;

    &.overlay-hidden{
        position: absolute;
        left: -9999px;
        max-height: 0px;
        overflow: hidden;
        opacity: 0;
    }
    @media screen and (max-width: $sidestory-break){
        width: 80% !important;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    @media screen and (min-width: $sidestory-break+1){
        max-width: 400px;
        position: absolute;
        top: 10px;
    }

    &.sidestory-right-content{
        @media screen and (min-width: $sidestory-break+1){
            right: 25%;

            &:after{
                content: '';
                @include triangle(20px, right, $darkgray);
                left: 100%;
                top: 30px;
                position: absolute;
            }
        }
    }

    &.sidestory-left-content{
        @media screen and (min-width: $sidestory-break+1){
            left: 25%;

            &:after{
                content: '';
                @include triangle(20px, left, $darkgray);
                right: 100%;
                top: 30px;
                position: absolute;
            }
        }
    }

    .ss-content{
        position: relative;
        overflow: auto;
        width: 100%;
        max-height: 60vh;
        padding: 1rem;
        box-sizing: border-box;
    }

}

//  sidestory toggles
.sidestory-toggle{
    text-align: center;
    position: relative;
    z-index: 99;

    @media screen and (min-width: $sidestory-break+1){
        .sidestory-left &{
            text-align: right;
        }
        .sidestory-right &{
            text-align: left;
        }
    }

    span{
        font-size: 1.5em;
        display: inline-block;
        padding: 5px;
        border-radius: 50%;
        background: $sidestory-toggle-bg;
        color: black-or-white($sidestory-toggle-bg);
        transition: .3s all ease;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 22px;
        cursor: pointer;

        &.active{
            transform: rotate(45deg);
        }
    }
}

.overlay-active{
    overflow: hidden;
    margin-top: 0 !important;
    transition: .3s all ease;


    .content:not(.active), .sidestory:not(.active), .media-wrapper, .image{
        transition: .3s all ease;
        filter: blur(10px);
    }
}
