.start{
    main{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
        width: 100%;
        height: calc(100vh - 42px);
        min-width: 0;
        min-height: 0;
        box-sizing: border-box;
        padding: 30px;

        .paginator{
            grid-column-start: 1;
            grid-column-end: span 12;
            grid-row-start: 7;
            grid-row-end: span 1;
            align-self: start;
            justify-self: end;

        }

        .karte{
            grid-column-start: 3;
            grid-column-end: 9;
            grid-row-start: 1;
            grid-row-end: span 6;
            justify-self: center;
            align-self: center;
            width: 100%;
            height: 100%;
            @include flexbox(column, wrap, center, center);
        }
        .size-container{
            width: 80%;
        }

        .main-project-title{
            grid-column-start: 1;
            grid-column-end: span 4;
            grid-row-start: 3;
            grid-row-end: span 1;
            text-align: right;
            align-self: start;
            justify-self: end;

            h1{
                margin: 0;
                padding: 0;
            }
        }

        .country-block{
            grid-column-start: 2;
            grid-column-end: span 3;
            grid-row-start: 4;
            text-align: right;
            align-self: start;
            justify-self: end;
            padding-top: 2.4em;
            min-width: 0;
            min-height: 0;

            div{
                opacity: 1;
                transition: .3s all ease;
                position: relative;

                h2{
                    font-size: 1.2em;
                    display: inline;
                }
                text-align: right;
                p{
                    text-align: right;
                }

                &.hidden{
                    position: absolute;
                    left: -9999px;
                    max-height: 0px;
                    overflow: hidden;
                    opacity: 0;
                }
            }
        }

        .indexes{
            grid-column-start: 9;
            grid-column-end: span 3;
            grid-row-start: 2;
            grid-row-end: span 4;
            font-family: $headings-font;
            line-height: 1;
            min-width: 0;
            min-height: 0;

            > div{
                padding: 20px 0;
            }

            .countries{
                span{
                    display: none;
                }
            }
            h2{
                &:first-of-type{
                    margin-top: 0;
                }
            }
            p{
                margin-bottom: 10px;
            }
            .bar{
                width: 100%;
                height: 20px;
                // border: 1px solid black;
                position: relative;
                margin: 2px 0;

                .fill{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    transition: .3s all ease;
                    background: $world;

                    &.world{
                        // background: $world;
                        span{
                            color: white;
                        }
                    }

                    span{
                        position: absolute;
                        right: 5px;
                        font-family: $headings-font;
                        font-size: .8em;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    footer{
        margin-top: 0;
    }
}
