.start{
    main{
        width: 100%;
        height: 100vh;
        padding: 30px;
        @include flexbox(row, wrap, space-between, center);

        .title-alt{
            display: none;

            @media screen and (max-width: $home-break-4){
                display: block;
            }
        }
        .size-container{
            width: 130%;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -25%;
        }

        .karte{
            width: 30%;
            position: relative;
        }
        .left{
            width: 30%;
            transform: translateX(4vw);
        }
        .indexes{
            width: 30%;

            > div{
                width: 100%;
            }
        }

        .main-project-title{
            margin-top: 12vh;

            h1{
                margin: 0;
                padding: 0;
                text-align: right;
            }
            @media screen and (max-width: $home-break-4){
                display: none;
            }
        }

        .country-block{
            padding-top: 2.4em;

            div{
                opacity: 1;
                transition: .3s all ease;
                position: relative;

                h2{
                    font-size: 1.2em;
                    display: inline;
                }
                text-align: right;
                p{
                    text-align: right;
                }

                &.hidden{
                    position: absolute;
                    left: -9999px;
                    max-height: 0px;
                    overflow: hidden;
                    opacity: 0;
                }
            }
        }

        .indexes{
            font-family: $headings-font;
            line-height: 1;
            min-width: 0;
            min-height: 0;

            > div{
                padding: 20px 0;
            }

            .countries{
                span{
                    display: none;
                }
            }
            h2{
                &:first-of-type{
                    margin-top: 0;
                }
            }
            p{
                margin-bottom: 10px;
            }
            .bar{
                width: 100%;
                height: 20px;
                // border: 1px solid black;
                position: relative;
                margin: 2px 0;

                .fill{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    transition: .3s all ease;
                    background: $world;
                    display: none;

                    &.world{
                        // background: $world;
                        span{
                            color: white;
                        }
                    }

                    span, p{
                        position: absolute;
                        right: 5px;
                        font-family: $headings-font;
                        font-size: .8em;
                        line-height: 20px;

                        span{
                            position: relative;
                            right: 0;
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
    footer{
        margin-top: 0;
    }
}
