.karte{
    max-height: 80vh;
    width: 33%;
}

.map_responsive{
    @include paddinghack(100%, 758.2, 834.1, "svg");
}

.icon-wrapper{
    width: 100px;
    margin: auto;
}
.icon-wrap{
    @include paddinghack(100%, 1, 1, "svg");
    // svg{
    //     stroke-width: 1px;
    //     stroke: white;
    // }
}
