// Vector Styles
.icon-wrapper{
    width: 100px;
    margin: auto;

    @media screen and (max-width: $sidestory-break){
      width: 70px;
    }
}
.icon-wrap{
    @include paddinghack(100%, 1, 1, "svg");
    // svg{
    //     stroke-width: 1px;
    //     stroke: white;
    // }
}

.karte{
    // max-height: 80vh;
    // width: 33%;
}

.map_responsive{
    @include paddinghack(100%, 758.2, 834.1, "svg");
}

#map{
    .st0{opacity:0.2;fill:$world;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
    .st1{fill:$world;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
    .st2{opacity:0.2;}
    .st3{fill:$world;}

    @each $l, $c in $countries {
        ##{$l} {
            .st1{
                // fill: desaturate($c, 50%);
            }
            &.active .st1,
            .st1:hover{
                transition: .3s all ease;
                fill: $c;
                cursor: pointer;
            }
        }
    }
}
