<!DOCTYPE html>
<html lang="de">
    {% include header.html %}
    {% include country-icons.html %}

        <header class="country-header" style="background-image: url('../media/img/{{ page.header-img }}')">
            {% include navigation.html %}
            <div class="grid">
                <div class="content">
                    <h1 class="title">{{ page.title }}</h1>
                    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
                </div>
                <div class="meta-info">
                    <div class="meta-box">
                        <div class="icon-wrapper">
                            <div class="icon-wrap">
                                <svg class="icon">
                                  <use xlink:href="#land_{{page.title | downcase }}" />
                                </svg>
                            </div>
                        </div>
                        <h2>{{ page.surface }} km<sup>2</sup></h2>
                        <h5>Fläche</h5>
                    </div>
                    <div class="meta-box">
                        <div class="icon-wrapper">
                            <div class="icon-wrap">
                                <svg class="icon">
                                  <use xlink:href="#altitude" />
                                </svg>
                            </div>
                        </div>
                        <h2>{{ page.altitude }} m ü. M.</h2>
                        <h5>Höhe der Hauptstadt</h5>
                    </div>
                    <div class="meta-box">
                        <div class="icon-wrapper">
                            <div class="icon-wrap">
                                <svg class="icon">
                                  <use xlink:href="#population" />
                                </svg>
                            </div>
                        </div>
                        <h2>{{ page.population }}</h2>
                        <h5>Einwohner</h5>
                    </div>
                    <div class="meta-box">
                        <div class="icon-wrapper">
                            <div class="icon-wrap">
                                <svg class="icon">
                                  <use xlink:href="#gdp" />
                                </svg>
                            </div>
                        </div>
                        <h2>CHF {{ page.gdp }}</h2>
                        <h5>BIP pro Kopf 2016 (nominal)</h5>
                    </div>
                </div>
            </div>
            <div class="img-overlay"></div>
        </header>
        <main>
            <div class="page-content">{{ content }}</div>

            <div class="box">
            {% assign  document = site.pages | sort: "order" | where:"layout", "country" %}
                    {% for links in document %}
                        {% if links.title == page.title %}

                            {% unless forloop.first %}
                                {% assign prevurl = prev.url %}

                                {% assign prevtitle = prev.title %}
                            {% endunless %}

                            {% unless forloop.last %}
                                {% assign next = document[forloop.index] %}
                                {% assign nexturl = next.url %}
                                {% assign nexttitle = next.title %}
                            {% endunless %}

                        {% endif %}

                        {% assign prev = links %}
                    {% endfor %}

                    {% if prevurl or nexturl %}
                        <div class="pagination has-sidestories grid">
                            {% if prevurl %}<a href="{{prevurl}}" class="prev sidestory sidestory-left">&laquo; zurück nach {{ prevtitle}}</a>{% endif %}
                            {% if nexturl %}<a href="{{nexturl}}" class="next sidestory sidestory-right">weiter nach {{nexttitle}} &raquo;</a>{% endif %}
                        </div>
                    {% endif %}
                </div>
       </main>

        {% include footer.html %}
    </body>
</html>
