<!DOCTYPE html>
<html lang="de">
    {% include header.html %}
    {% include country-icons.html %}
    {% include navigation.html %}
        <header class="country-header" style="background-image: url('../media/img/{{ page.header-img }}')">

            <div class="grid">
                <div class="content">
                    <h1 class="title">{{ page.title }}</h1>
                    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
                    <div class="meta-info">
                        {% if page.surface %}
                        <div class="meta-box">
                            <div class="icon-wrapper">
                                <div class="icon-wrap">
                                    <svg class="icon">
                                      <use xlink:href="#land_{{page.title | downcase }}" />
                                    </svg>
                                </div>
                            </div>
                            <h2>{{ page.surface }}</h2><br>
                            <h5>km<sup>2</sup> Fläche</h5>
                        </div>
                        {% endif %}
                        {% if page.population %}
                        <div class="meta-box">
                            <div class="icon-wrapper">
                                <div class="icon-wrap">
                                    <svg class="icon">
                                      <use xlink:href="#population" />
                                    </svg>
                                </div>
                            </div>
                            <h2>{{ page.population }}</h2><br>
                            <h5>Einwohner</h5>
                        </div>
                        {% endif %}
                        {% if page.gdp %}
                        <div class="meta-box">
                            <div class="icon-wrapper">
                                <div class="icon-wrap">
                                    <svg class="icon">
                                      <use xlink:href="#gdp" />
                                    </svg>
                                </div>
                            </div>
                            <h2>{{ page.gdp }}</h2><br>
                            <h5>BIP/Kopf in USD</h5>
                        </div>
                        {% endif %}
                        {% if page.altitude %}
                        <div class="meta-box">
                            <div class="icon-wrapper">
                                <div class="icon-wrap">
                                    <svg class="icon">
                                      <use xlink:href="#altitude" />
                                    </svg>
                                </div>
                            </div>
                            <h2>{{ page.altitude }}</h2><br>
                            <h5>m ü. M. Hauptstadt</h5>
                        </div>
                        {% endif %}
                        {% if page.flight %}
                        <div class="meta-box">
                            <div class="icon-wrapper">
                                <div class="icon-wrap">
                                    <svg class="icon">
                                      <use xlink:href="#plane" />
                                    </svg>
                                </div>
                            </div>
                            <h2>{{ page.flight }} km</h2><br>
                            <h5>Flugstrecke</h5>
                        </div>
                        {% endif %}
                        {% if page.cabrides %}
                        <div class="meta-box">
                            <div class="icon-wrapper">
                                <div class="icon-wrap">
                                    <svg class="icon">
                                      <use xlink:href="#taxi" />
                                    </svg>
                                </div>
                            </div>
                            <h2>{{ page.cabrides }}</h2><br>
                            <h5>Taxifahrten</h5>
                        </div>
                        {% endif %}
                        {% if page.interviews %}
                        <div class="meta-box">
                            <div class="icon-wrapper">
                                <div class="icon-wrap">
                                    <svg class="icon">
                                      <use xlink:href="#interview" />
                                    </svg>
                                </div>
                            </div>
                            <h2>{{ page.interviews }} min</h2><br>
                            <h5>Interviews</h5>
                        </div>
                        {% endif %}
                        {% if page.hoehe %}
                        <div class="meta-box">
                            <div class="icon-wrapper">
                                <div class="icon-wrap">
                                    <svg class="icon">
                                      <use xlink:href="#altitude" />
                                    </svg>
                                </div>
                            </div>
                            <h2>{{ page.hoehe }}</h2><br>
                            <h5>Höhenmeter</h5>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="img-overlay"></div>
        </header>
        <main>
            <div class="page-content">{{ content }}</div>
       </main>

        {% include footer.html %}
    </body>
</html>
