<!DOCTYPE html>
<html lang="de">
{% include header.html %} {% include country-icons.html %} {% include navigation.html %}
<header class="country-header" style="background-image: url('../media/img/{{ page.header-img }}')">
    <div class="wrapper">
        <div class="title-box">
            <h1 class="title">{{ page.main-title }}</h1> {% if page.subtitle %}
            <h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </div>
    </div>
    <div class="img-overlay"></div>
</header>
<main>
    {{ content }}
</main>

{% include footer.html %}
</body>

</html>
