<!DOCTYPE html>
<html lang="de">
{% include header.html %} {% include navigation.html %}
<!-- header with info -->
<header class="country-header" style="background-image: url({{ page.ref | prepend: '/media/img/headerimages/' | prepend: site.baseurl | append: '.jpeg' }})">
    <div class="wrapper">
        <div class="title-box">
            <h1 class="title">{{ page.main-title }}</h1> {% if page.subtitle %}
            <h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </div>
    </div>
    <div class="img-overlay"></div>
</header>
<!-- page content -->
<main>
    {{ content }}
</main>

{% include footer.html %}
</body>

</html>
