<!DOCTYPE html>
<html lang="de">
    {% include header.html %}

        {% include navigation.html %}

        <main>
            <div class="page-content">
                <section class="box">
                    <div class="content title-box">
                        {% if page.subtitle %}<h2 class="page-subtitle">{{ page.subtitle }}</h2>{% endif %}
                        {% if page.displaytitle %}
                        <h1 class="title">{{ page.title }}</h1>{% endif %}
                    </div>
                    {{ content }}
                    <div class="box">
                    {% assign  document = site.pages | sort: "order" %}
                            {% for links in document %}
                                {% if links.title == page.title %}

                                    {% unless forloop.first %}
                                        {% assign prevurl = prev.url %}

                                        {% assign prevtitle = prev.title %}
                                    {% endunless %}

                                    {% unless forloop.last %}
                                        {% assign next = document[forloop.index] %}
                                        {% assign nexturl = next.url %}
                                        {% assign nexttitle = next.title %}
                                    {% endunless %}

                                {% endif %}

                                {% assign prev = links %}
                            {% endfor %}

                            {% if prevurl or nexturl %}
                                <div class="pagination">
                                    {% if nexturl %}<span class="next"><a href="{{nexturl}}">{{nexttitle}} &raquo;</a></span>{% endif %}
                                    {% if prevurl %}<span class="prev"><a href="{{prevurl}}">&laquo; {{ prevtitle}}</a></span>{% endif %}
                                </div>
                            {% endif %}
                        </div>
                </section>
            </div>
       </main>

        {% include footer.html %}
    </body>
</html>
