<!DOCTYPE html>
<html lang="de">
    {% include header.html %}
    <!-- simple page without header  -->
        {% include navigation.html %}

        <main>
            <div class="page-content">
                <section class="box">
                    {% if page.title or page.title %}
                    <div class="content title-box">
                        {% if page.subtitle %}<h2 class="page-subtitle">{{ page.subtitle }}</h2>{% endif %}
                        {% if page.displaytitle %}
                        <h1 class="title">{{ page.title }}</h1>{% endif %}
                    </div>
                    {% endif %}
                    {{ content }}
                </section>
            </div>
       </main>

        {% include footer.html %}
    </body>
</html>
