<!DOCTYPE html>
<html lang="de">
    {% include header.html %}

        {% include navigation.html %}

        <main>
                    {{ content }}
                    <div class="box paginator">
                    {% assign  document = site.pages | sort: "order" | where: 'exclude', 'false' %}
                            {% for links in document %}
                                {% if links.title == page.title %}
                                    {% unless forloop.first %}
                                        {% assign prevurl = prev.url %}

                                        {% assign prevtitle = prev.title %}
                                    {% endunless %}

                                    {% unless forloop.last %}
                                        {% assign next = document[forloop.index] %}
                                        {% assign nexturl = next.url %}
                                        {% assign nexttitle = next.title %}
                                    {% endunless %}

                                {% endif %}

                                {% assign prev = links %}
                            {% endfor %}


                            {% if prevurl or nexturl %}
                            <div class="pagination has-sidestories grid">
                                {% if prevurl %}<span class="prev sidestory sidestory-left"><a href="{{prevurl}}">&laquo; {{ prevtitle}}</a></span>{% endif %}
                                {% if nexturl %}<span class="next sidestory sidestory-right"><a href="{{nexturl}}">{{nexttitle}} &raquo;</a></span>{% endif %}
                            </div>
                            {% endif %}
                        </div>
       </main>

        {% include footer.html %}
    </body>
</html>
